.loginContainer{
    display: flex;
    justify-content: center;
    min-width: 100vh;
    text-align: center;
    align-items: center;
}
.form-container{
    display: flex;
    flex-direction: column;
}